@{
    ViewData["Title"] = "Hololive";
}

<div class="text-center">
    <h1 class="display-4">Hololive</h1>
    <p>
        Hololive Production (ホロライブプロダクション hororaibu purodakushon, stylized in lowercase), or simply known as hololive (ホロライブ), is a Virtual Talent agency consisting of Virtual YouTubers owned by Japanese tech entertainment company COVER Corporation.
        The name hololive was initially used for COVER's 3D stream distribution app, launched in December 2017, and later its female VTuber agency, whose first generation debuted from May to June 2018. In December 2019, this hololive branch was merged with Cover's male HOLOSTARS agency and INoNaKa (INNK) Music label to form a unified "hololive production" brand. In 2019 and 2020, the agency debuted three overseas branches: hololive China (since disbanded), hololive Indonesia, and hololive English.
        As of December 2021, there are 62 active hololive-affiliated talents with over 43 million subscribers on YouTube. The five members with the highest YouTube subscriber counts are Gawr Gura, Mori Calliope, Usada Pekora, Shirakami Fubuki and Houshou Marine. Gawr Gura is currently the most subscribed VTuber worldwide, with over 3 million subscribers.
    </p>
    <br>
    <p>Saiba mais <a href="https://virtualyoutuber.fandom.com/wiki/Hololive">Hololive Fandom</a>.</p>
</div>
