@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>
<h3>- Information</h3>
<p>I do not own the rights of any of the information on this site. All the information was retired from <a href="https://virtualyoutuber.fandom.com/wiki/Hololive">Virtual YouTuber Wiki website</a></p>

<h3>- Images</h3>
<p>I do not own the rights of the images displayed on this site. The images are hospeded in <a href="https://imgur.com">Imgur site</a></p>
