@{
    ViewData["Title"] = "Hololive Japan";
}

<div class="text-center">
    <h1 class="display-4">Hololive Japan</h1>
    <p>
       Hololive Japan, often referred to simply as Hololive (ホロライブ, stylized as hololive) for short, is an all-girl Virtual YouTuber group under COVER Corporation aimed at the Japanese-speaking audience. Initially known for their female-only VTuber group, it merged with Holostars, their male-only VTuber group, and INoNaKa Music, their music label, to become part of the Hololive Production umbrella on December 2, 2019. All 31 talents of Hololive's main branch are sorted by generation.
    </p>
    <br>
    <p>Saiba mais <a href="https://virtualyoutuber.fandom.com/wiki/Hololive">Hololive Fandom</a>.</p>
</div>