@{
    ViewData["Title"] = "Hololive English";
}

<div class="text-center">
    <h1 class="display-4">Hololive English</h1>
    <p>
       Hololive English (ホロライブEnglish, stylized as hololive English) is an all-girl VTuber group under COVER Corporation aimed at the English-speaking audience. Their activities include live streaming on platforms such as YouTube and interacting with fans on Twitter. The talents perform using intricate 2D avatars provided by the company. Unlike the Japanese and Indonesian branches, Hololive English does not name their groups by numbered generations to maintain fairness and avoid developing preconceptions about the prioritizing of the groups based on their numbers. Among fans, however, Myth and Council are commonly informally referred to as generations 1 and 2 respectively. All 11 talents are sorted by their groups.
    </p>
    <br>
    <p>Saiba mais <a href="https://virtualyoutuber.fandom.com/wiki/Hololive">Hololive Fandom</a>.</p>
</div>